<!-- sidebar -->
<div id='sidebar'>
  <h2>Opciones</h2>
  <ul>
    <li></li>
  </ul>

 <h2>Ir a</h2>
  <ul>
    <li><%= link_to "Usuarios", users_path %></li>
    <li><%= link_to "Roles", roles_path %></li>
  </ul>
</div>
<!-- /sidebar -->

